COMPOSE_PROJECT_NAME=supla-private

CLOUD_DOMAIN=YOUR_DOMAIN_OR_PUBLIC_IP
PORT_HTTP=80
PORT_HTTPS=443

VOLUME_DATA=./var
DB_IMAGE=mariadb:12.2.2
DB_PASSWORD=CHANGE_ME_DB_PASSWORD
SECRET=CHANGE_ME_RANDOM_SECRET
ACCOUNT_LIMITS_SELF_UPDATE_ENABLED=false
SUPLA_AUTODISCOVER_URL=https://autodiscover.supla.org

SUPLA_CLOUD_VERSION=latest
SUPLA_SERVER_VERSION=latest

RECAPTCHA_ENABLED=false
RECAPTCHA_PUBLIC_KEY=
RECAPTCHA_PRIVATE_KEY=
MAILER_DSN=null://null
MAILER_FROM=
ADMIN_EMAIL=

REQUIRE_REGULATIONS_ACCEPTANCE=false
REQUIRE_COOKIE_POLICY_ACCEPTANCE=false
BRUTE_FORCE_AUTH_PREVENTION_ENABLED=true
ACCOUNTS_REGISTRATION_ENABLED=true

MQTT_BROKER_ENABLED=true
MQTT_BROKER_HOST=mosquitto
MQTT_BROKER_PORT=1883
MQTT_BROKER_TLS=false
MQTT_BROKER_USERNAME=supla
MQTT_BROKER_PASSWORD=CHANGE_ME_MQTT_PASSWORD
MQTT_BROKER_CLIENT_ID=supla-server
MQTT_PORT=1883
MQTT_TLS_PORT=8883

MAILPIT_SMTP_PORT=1025
MAILPIT_WEB_PORT=8025
